
{% extends "base.html" %}
{% load  static %}
{% load bootstrap4 %}

{% block body %}
<div class="section-headline text-center" style="padding-top: 100px;">
    <h2>Updeate Details </h2> 
</div>
    
<form method="post" enctype="multipart/form-data" >
    <a style="background-color:#222;color:#fff;font-size:16px;padding:10px;border-radius:6px" href="{% url 'notes:note_detail' note.slug %} "> Back</a>     
    {{ form.media  }}
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary" style="margin:50px 0 ;">
        Update
    </button>
    
    {% endbuttons %}
</form>
  

{% endblock body %}