{% extends "base.html" %}
{% load  static %}
{% load bootstrap4 %}

{% block body %}
<div class="section-headline text-center" style="padding-top: 100px;">
    <h2>Login Form </h2>                 
</div>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        
                        <form id="login-form" class="form" action="" method="post">
                            {% csrf_token %}
                            <h3 class="text-center text-info">Login</h3>
                            {% bootstrap_form form %}
                            <div class="form-group">
                                {% comment %} <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br> {% endcomment %}
                                {% buttons %}
                                <button type="submit" class="btn btn-primary " style="margin:50px 0 ;">
                                    Login
                                </button>
                                
                                {% endbuttons %}
                                {% comment %} <input type="submit" name="submit" class="btn btn-info btn-md" value="Login"> {% endcomment %}
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="{% url 'accounts:register' %}" class="text-info">Register here</a>
                                <br>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}